<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>{{titulo}}</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <form role="form" method="post" action="/aleatorio">
                    <div class="form-group">
                        <label for="alatorios">
                            Cantidad de números enteros aleatorios a ingresar (máximo 10,000):
                        </label>
                        <input class="form-control" id="aleatorios" name="aleatorios" type="number" min="1" max="10000" pattern="^[0-9]+"/>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        ingresar
                    </button>
                </form>
                <form role="form" method="post" action="/manual">
                    <div class="form-group">
                        <label for="manual">
                            Ingresar número entero manualmente:
                        </label>
                        <input class="form-control" id="manual" name="manual" type="number" min="1" pattern="^[0-9]+"/>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        ingresar
                    </button>
                </form>
            </div>
            <div class="col-md-3">
                <p>Lista desordenada</p>
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                valor
                            </th>
                        </tr>
                    </thead>
                    {{>t1}}
                </table>
            </div>
            <div class="col-md-2">
                <form role="form" method="post" action="/limpiar">
                    <button type="submit" class="btn btn-warning">
                        Limpiar
                    </button>
                </form>
            </div>
            <div class="col-md-3">
                <p>Lista ordenada</p>
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                valor
                            </th>
                        </tr>
                    </thead>
                    {{>t2}}
                </table>
            </div>
            <div class="col-md-2">
                <form role="form" method="post" action="/buscar">
                    <div class="form-group">
                        <label for="busca">
                            Tiempo invertido en buscar número:
                        </label>
                        <input class="form-control" id="busqueda" type="number" min="1" pattern="^[0-9]+"/>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Buscar
                    </button>
                </form>
                <div id="bd">
                    Secuencial con arreglo desordenado:{{sd}}
                </div>
                <div id="bo">
                    Secuencial con arreglo ordenado:{{so}}
                </div>
                <div id="bb">
                    Binaria:{{bin}}
                </div>
            </div>
        </div>
    </div>
</body>
</html>